doctype html
html
  head
    title Manish School
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/Logo.png")
                |  Manish School
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us ]

    block content
    footer#footer 
        | Copyright Ⓒ 2022 manishschool.com |  All rights are reserved